# Roman

In [1]:
import pandas as pd

normatives_df = pd.read_pickle('data/townsnet10/normatives.pickle')
service_types_df = pd.read_pickle('data/townsnet10/service_types.pickle')

In [2]:
import geopandas as gpd

towns_gdf = gpd.read_file('data/townsnet10/towns.geojson')
acc_mx = pd.read_pickle('data/townsnet10/acc_mx.pickle')

In [ ]:
from townsnet.provision.service_type import ServiceType
service_types = ServiceType.initialize_service_types(service_types_df, normatives_df)

d:\programming\github\changer-migration-model\.venv\lib\site-packages\pandera\_pandas_deprecated.py:160: FutureWarning: Importing pandas-specific classes and functions from the
top-level pandera module will be **removed in a future version of pandera**.
If you're using pandera to validate pandas objects, we highly recommend updating
your import:

```
# old import
import pandera as pa

# new import
import pandera.pandas as pa
```

If you're using pandera to validate objects from other compatible libraries
like pyspark or polars, see the supported libraries section of the documentation
for more information on how to import pandera:

https://pandera.readthedocs.io/en/stable/supported_libraries.html

To disable this warning, set the environment variable:

```
export DISABLE_PANDERA_IMPORT_WARNING=True
```

  warnings.warn(_future_warning, FutureWarning)

In [4]:
from townsnet.provision import ProvisionModel

model = ProvisionModel(towns_gdf, acc_mx, verbose=False)

In [ ]:
import random

In [8]:

supplies_df = pd.DataFrame([random.randint(0,100) for _ in towns_gdf.index], columns=['supply'], index=towns_gdf.index)

In [9]:
supplies_df

      supply
0         94
1         56
2          9
3         20
4         24
...      ...
2926       8
2927      56
2928      94
2929       7
2930      41

[2931 rows x 1 columns]

In [13]:
service_types[2]

ServiceType(id=21, name='Детский сад', accessibility_value=29.0, supply_value=5.0, accessibility_type=<AccessibilityType.MINUTES: 'мин'>, supply_type=<SupplyType.SERVICES_PER_1000: 'шт. на 1000 человек'>, category=<Category.BASIC: 'Базовая'>, weight=0.2)

In [15]:
for i in range(len(service_types)):
    model.calculate(supplies_df, service_types[i])

:

: